body {    
    background-color: #B4B4B4;
    font-family: 'Helvetica', sans-serif;
}
      
body h1 {
    color: #000000;
    text-align: center;
    font-size: 40px;
    
}
       
.container {    
    width: 80%;
    margin: 0 auto;
}
   
.image-wrapper {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
 
.icon-select {
    width: 15%;
    margin: 100px 60px 0;
}
    
.icon-select h2 {
    font-weight: bold;
    text-align: center;
}  
.icon-select p {
    font-style: italic;
    color: #292929
}    
    
.icon-select img {
    vertical-align: middle;
}
.icon-select img:hover {
    background-color:#292929;
    cursor: pointer;
    transition: background-color 1s ease;
}
    
.selected {
    transform: scale(1.2);
    box-shadow: 0 0 8px black;
    border-radius: 15px;
}
    
.sprite-wrapper h1{
    font-weight: bold;
    text-align: center;
}

.hover-motion{
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

  
  #Hover-Motion1 {
    display:block;
    width: 100px;
    height: 200px;
    margin: 0 auto;
    border: solid 2px #000;
    background:transparent url(../images/SpriteMotion.svg) 0 0;
    background-size: 400%;
  }
  #Hover-Motion1:hover{
    width: 100px;
    height: 200px;
      background:transparent url(../images/SpriteMotion.svg) 0 0 no-repeat;
      background-size: 400px 1200px;
      
    animation: hm1 .5s steps(6) ;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: .5s;
   
  
  }
  
  @keyframes hm1 {
      0%{background-position: 0 0;}
      100%{background-position: 0 -1200px;}
  }
  #Hover-Motion2 {
    display:block;
    width: 100px;
    height: 200px;
    margin: 0 auto;
    border: solid 2px #000;
    background:transparent url(../images/SpriteMotion.svg) -100px 0;
    background-size: 400%;
  }
  #Hover-Motion2:hover{
    width: 100px;
    height: 200px;
      background:transparent url(../images/SpriteMotion.svg) -100px 0 no-repeat;
      background-size: 400px 1200px;
      
    animation: hm2 .5s steps(6) ;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: .5s;
   
  
  }
  
  @keyframes hm2 {
      0%{background-position: -100px 0;}
      100%{background-position: -100px -1200px;}
  }
  #Hover-Motion3 {
    display:block;
    width: 100px;
    height: 200px;
    margin: 0 auto;
    border: solid 2px #000;
    background:transparent url(../images/SpriteMotion.svg) -200px 0;
    background-size: 400%;
  }
  #Hover-Motion3:hover{
    width: 100px;
    height: 200px;
      background:transparent url(../images/SpriteMotion.svg) -200px 0 no-repeat;
      background-size: 400px 1200px;
      
    animation: hm3 .5s steps(6) ;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: .5s;
   
  
  }
  
  @keyframes hm3 {
      0%{background-position: -200px 0;}
      100%{background-position: -200px -1200px;}
  }
  #Hover-Motion4 {
    display:block;
    width: 100px;
    height: 200px;
    margin: 0 auto;
    border: solid 2px #000;
    background:transparent url(../images/SpriteMotion.svg) -300px 0;
    background-size: 400%;
  }
  #Hover-Motion4:hover{
    width: 100px;
    height: 200px;
      background:transparent url(../images/SpriteMotion.svg) -300px 0 no-repeat;
      background-size: 400px 1200px;
      
    animation: hm4 .5s steps(6) ;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-delay: .5s;
   
  
  }
  
  @keyframes hm4 {
      0%{background-position: -300px 0;}
      100%{background-position: -300px -1200px;}
  }